<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="welcome">
            <h1>Thanks to coming our guestbook page! </h1>
            <p>Please leave a message to other guests.</p>
            <div class="link">
            <a href="/leave">Leave a note</a>
            <a href="/read">Read notes</a>
        </div>
        </div>
        <div class="image">
            <img class="top_image" src="top.jpg" alt="resort photo">
        </div>
    </div>
</body>
</html>